/* 
  Style.css file is linked in the header template, therefore
  it is applied to every page of our application.
  Write some style to begin.
*/

.card {
  background-color: rgba(65, 65, 65, 0);
  color: rgb(245, 245, 245);
  border-radius: 50%; 
  border: none;
  text-align: center;
}

.disabled {
  filter: grayscale(100%);
}

.hoverable:hover {
  animation-name: in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.hoverable {
  animation-name: out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes in{
  from {transform: scale(1);}
  to {transform: scale(0.9);}
}

@keyframes out{
  from {transform: scale(0.9);}
  to {transform: scale(1);}
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

body {
  position: relative;
  background-color: rgb(41, 41, 41);
  color: whitesmoke;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}